.grid {
    margin-bottom: 52px;
    .row {
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        img {
            vertical-align: middle;
            height: 300px;
            width: 50%;
        }
        .text-center {
            width: 50%;
            background: $white;
            h3 {
                padding-left: 52px;
                text-align: left;
                width: 100px;
                line-height: 40px;
                font-family: $font-highlight;
                font-size: 25px;
                margin-top: 65px;
                margin-bottom: 10px;
            }
            p {
                padding-left: 52px;
                text-align: left;
                width: 90%;
                line-height: 20px;
                font-family: $font-main;
            }
            a {
                float: left;
                padding-left: 52px;
                color: $orange;
                text-decoration: underline;
                text-underline-position: under;
                font-family: $font-highlight;
            }
        }
    }
}

.grid2 {
    margin-bottom: 70px;
    .row {
        width: 80%;
        margin: 0 auto;
        .col-md-6 {
            h4 {
                font-family: $font-highlight;
                font-size: 40px;
                margin-bottom: 30px;
            }
            p {
                width: 70%;
                font-family: $font-main;
                font-size: 12px;
                color: $gray;
            }
            .row2 {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                margin: auto;
                //margin-left: 800px;
                img {
                    vertical-align: middle;
                    height: 200px;
                    width: 50%;
                }
            }
        }
    }
}