.navbar {
    margin-bottom: 0;
    .container {
        width: 100%;
        background: $white;
        .navbar-header {
            a {
                margin-left: 50px;
                font-family: $font-crochet;
                font-size: 40px;
                color: $gray;
                &:hover {
                    color: $black;
                }
            }
        }
        ul {
            float: right;
            margin-right: 100px;
            li {
                 :hover {
                    background: $white;
                }
                a {
                    color: $gray;
                    font-family: $font-highlight;
                    font-size: 15px;
                    &:hover {
                        color: $black;
                    }
                }
            }
        }
    }
}