.footer {
    background: $orange;
    display: flex;
    flex-direction: row;
    ul {
        list-style: none;
        width: 25%;
        height: 40px;
        line-height: 40px;
        margin: 0;
        li {
            margin-left: 30px;
            a {
                color: $white;
            }
        }
    }
    .text-center {
        width: 50%;
        .copyright {
            color: $white;
        }
    }
    .social-icon {
        width: 25%;
    }
}