.footer {
    background: $orange;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    .list {
        ul {
            width: 350px;
            margin: 0;
            padding-left: 100px;
            li {
                display: inline-block;
                list-style: none;
                height: 40px;
                line-height: 40px;
                margin-left: 30px;
                a {
                    color: $white;
                }
            }
        }
    }
    .text-center {
        width: 50%;
        .copyright {
            color: $white;
        }
    }
    .social-icon {
        width: 250px;
        .container {
            width: 250px;
            ul {
                width: 250px;
                li {
                    display: inline-block;
                    align-items: center;
                    justify-content: center;
                    list-style: none;
                    height: 40px;
                    line-height: 40px;
                    margin-left: 30px;
                    font-size: 20px;
                    a {
                        color: $white;
                    }
                }
            }
        }
    }
    @include break(320px, 425px) {
        background: $orange;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        .list {
            ul {
                width: 100%;
                margin: 0;
                padding: 0;
                li {
                    display: inline-block;
                    list-style: none;
                    height: 40px;
                    line-height: 40px;
                    margin-left: 30px;
                    a {
                        color: $white;
                    }
                }
            }
        }
        .text-center {
            width: 100%;
            margin: 0 auto;
            .copyright {
                color: $white;
            }
        }
        .social-icon {
            width: 90%;
            .container {
                ul {
                    width: 80%;
                    margin: 0 auto;
                    margin-bottom: 20px;
                    padding: 0;
                    li {
                        display: inline-block;
                        align-items: center;
                        justify-content: center;
                        list-style: none;
                        height: 40px;
                        line-height: 40px;
                        margin-left: 30px;
                        font-size: 20px;
                        a {
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}