.products {
    .container {
        width: 80%;
        margin: 0 auto;
        padding: 0;
        h3 {
            font-family: $font-main;
            font-size: 40px;
        }
        p {
            font-family: $font-main;
            font-size: 12px;
            color: $gray;
            width: 300px;
            margin: 0;
            float: left;
        }
        a {
            float: left;
            margin-left: 62%;
            color: $orange;
            text-decoration: underline;
            text-underline-position: under;
            font-family: $font-highlight;
        }
        .row {
            margin-top: 50px;
            .col-md-4 {
                height: 400px;
                background: $white;
                img {
                    width: 250px;
                    height: 200px;
                }
            }
        }
    }
}